# Environment variables
.env

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
ENV/

# FAISS index and mapping files
faiss_index
faiss_id_map.pkl

# Distribution / packaging
dist/
build/
*.egg-info/

# Jupyter Notebook
.ipynb_checkpoints

# VS Code settings
.vscode/

# PyCharm settings
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db
